<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
    
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    
    <script type="module" th:src="@{/js/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{/js/components/doctorCard.js}" defer></script>
</head>
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            
            <main class="main-content">
                <input type="text" id="searchBar" placeholder="search by doctor name" />
                
                <div class="filter-wrapper">
                    <select id="filterTime" class="filter-select">
                        <option value="">Sort by Time</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                    <select id="filterSpecialty" class="filter-select">
                        <option value="">Filter by Specialty</option>
                        <option value="Cardiologist">Cardiologist</option>
                        <option value="Dermatologist">Dermatologist</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="General">General Physician</option>
                        </select>
                </div>

                <div id="content"></div>
            </main>

            <div id="footer"></div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <div id="modal-body"></div>
        </div>
    </div>
</body>
</html>