* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; font-family: 'Roboto', sans-serif; }

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 48px;
    margin-bottom: 50px;
    color: #003e3e;
    font-weight: bold;
    font-family: 'Alegreya', 'Roboto', sans-serif;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url("../images/defineRole/index.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    background-color: #015c5d;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #A62B1F;
}

.dashboard-btn {
    background-color: #015c5d;
}

.dashboard-btn:hover {
    background-color: #003e3e;
}